body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
}

.btn-secondary,
.btn-primary {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    
    
}
.btn-primary{
margin-left: 40%;
}

.btn-secondary {
    background-color: #6c757d; /* Bootstrap secondary color */
    color: #fff;
}

.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
}