body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

td p {
    margin: 0;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

h6 {
    color: #dc3545;
}